#home{
    margin-top: 175px;
    height: calc(80vh - 50px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.left h3{
    margin-bottom: 45px;
    margin-top: 40px;
    color: #333;
    text-align: justify;
    
}

#home .left{
    width: 40%;  
}
#home .left h1{
    font-size: 45px;
    margin-bottom: 5px;
}
#home .left h1 span{
    color:  #28ff;
}
#home .left p{
    margin-bottom: 30px;
    color: black;
    font-size: 13px; 
}

#home .left a{
    background-color: #28ff;
    
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
}
#home .left a:hover{
    background-color: #00FF00;
}
#home .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .right img{
    width: 100%;
}
